server:
  port: 8888

app:
  api-prefix: /api/v1

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:

        # Identity Service
        - id: identity_service
          uri: http://localhost:8080
          predicates:
            - Path=${app.api-prefix}/identity/**
          filters:
            - StripPrefix=2

        # Admin Service
        - id: admin_service
          uri: http://localhost:8081
          predicates:
            - Path=${app.api-prefix}/admin/**
          filters:
            - StripPrefix=2

        # Profile Service
        - id: profile_service
          uri: http://localhost:8082
          predicates:
            - Path=${app.api-prefix}/profile/**
          filters:
            - StripPrefix=2

        # Property Service
        - id: property_service
          uri: http://localhost:8083
          predicates:
            - Path=${app.api-prefix}/property/**
          filters:
            - StripPrefix=2

        # Booking Service
        - id: booking_service
          uri: http://localhost:8084
          predicates:
            - Path=${app.api-prefix}/booking/**
          filters:
            - StripPrefix=2

        # Contract Service
        - id: contract_service
          uri: http://localhost:8085
          predicates:
            - Path=${app.api-prefix}/contract/**
          filters:
            - StripPrefix=2

        # Billing Service
        - id: billing_service
          uri: http://localhost:8086
          predicates:
            - Path=${app.api-prefix}/billing/**
          filters:
            - StripPrefix=2

        # Payment Service
        - id: payment_service
          uri: http://localhost:8087
          predicates:
            - Path=${app.api-prefix}/payment/**
          filters:
            - StripPrefix=2

        # File Service
        - id: file_service
          uri: http://localhost:8088
          predicates:
            - Path=${app.api-prefix}/file/**
          filters:
            - StripPrefix=2

        # Chat Service
        - id: chat_service
          uri: http://localhost:8089
          predicates:
            - Path=${app.api-prefix}/chat/**
          filters:
            - StripPrefix=2
